# Drizzle
# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

# Optional: Spotify API (register free at developer.spotify.com)
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

# Optional: Tidal API (register free at developer.tidal.com)
TIDAL_CLIENT_ID=""
TIDAL_CLIENT_SECRET=""
